.element__like-btn {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-btn.svg);
  background-size: 22px 19px;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.element__like-btn:hover {
  opacity: .5
}