.input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 358px;
  min-height: 84px;
  margin: 48px auto 0;
}

@media screen and (max-width: 800px) {
  .input {
    max-width: 238px;
    margin-top: 75px;
  }
}