.popup__title_type_fs {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    margin: 0;
    padding: 0;
  }