.input__text {
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid #cccccc;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  outline: none;
  margin-bottom: 30px;
  padding-bottom: 12px;
}

.input__text:last-of-type {
  margin-bottom: 0;
}